inverita
Inverita.pro.user
mocs/
objs/
doc/
Makefile
qrc_resources.cpp
src/version.h
staging/
translations/*.qm
debian/changelog
coverity/cov-int
coverity/Inverita.tgz
screenshots/
temp
userguide/Inverita.pdf

/.project
