Package: INVERITA
Version: 0.7.24
Section: utility
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.15), libqtcore4 (>=4:4.8.0), libqtgui4 (>=4:4.8.0), encfs (>= 1.7.4)
Installed-Size: 500
Maintainer: Marc Weidler <marc.weidler@web.de>
Description: INVERITA Personal Backup is a software for data backup on various media.
 .
 The main features are:
   * Backup data in snapshots
   * Nice and user-friendly user interface
   * Hard-link technology for each backup snapshot to minimize needed media space.
   * Integrity validation of backups

