Source: inverita
Section: utils
Priority: optional
Maintainer: Marc Weidler <marc.weidler@web.de>
Build-Depends: qt4-qmake (>=4:4.8.0), libqt4-dev (>=4:4.8.0), debhelper (>= 8.0.0)
Standards-Version: 3.9.2

Package: inverita
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6 (>= 2.15), libqtcore4 (>=4:4.8.0), libqtgui4 (>=4:4.8.0), encfs (>= 1.7.4)
Description: INVERITA Personal Backup is a software for data backup on various media.
 .
 The main features are:
   * Backup data in snapshots
   * Nice and user-friendly user interface
   * Hard-link technology for each backup snapshot to minimize needed media space.
   * Integrity validation of backups

