[Desktop Entry]
Type=Application
Name=Inverita
Comment=Inverita Personal Backup
GenericName=Inverita Personal Backup
Exec=inverita
Icon=inverita
Terminal=false
Categories=Utility
Encoding=UTF-8

